::-webkit-input-placeholder {
  color: #D8D8DC;
  opacity: 1
}

::-moz-placeholder {
  color: #D8D8DC;
  opacity: 1
}

:-ms-input-placeholder {
  color: #D8D8DC;
  opacity: 1
}

::placeholder {
  color: #D8D8DC;
  opacity: 1
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 1.1em;
}


hr {
  height: 0.1em;
  boder: 0;
}

blockquote, ul, ol, dl, li, table, pre {
  margin: 15px 0;
}

button {
  padding: 4px 6px;
  border-radius: 5px;
}

table, dl, blockquote, code, kbd, pre, samp {
  margin: 1em 0;
}

code, kbd, pre, samp, #ws, #message {
  font-family: monospace, monospace;
}

p code {
  background-color: var(--red-muted) !important;
  margin: 0;
  padding: 3px 6px;
  border-radius: 4px;
}

.hljs {
  background-color: inherit !important;
  color: var(--background) !important;
}

.hljs-type,
.hljs-variable,
.hljs-title,
.hljs-keyword,
.hljs-built_in,
.hljs-attr,
.hljs-number,
.hljs-function,
.hljs-string,
.hljs-comment,
.hljs-literal {
  color: var(--background) !important;
}

.hljs-type,
.hljs-title.class_ {
  color: var(--red-muted) !important;
  font-weight: bold;
}


.hljs-comment {
  color: rgb(127, 127, 127) !important;
}

pre {
  border-left: none !important;
  overflow: auto;
  display: block;
  padding: 16px 20px;
  word-break: break-all;
  word-wrap: break-word;
  margin-bottom: 30px;
  border-radius: 6px;
  background-color: var(--foreground);
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

fieldset {
  border: none;
  padding: 0
}

blockquote {
  border-left: 2px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 40px;
}

blockquote p {
  display: inline;
  font-style: italic;
}

p {
  margin-bottom: 2em;
}

ul, ol {
  margin-bottom:2em;
}

ul {
  list-style: inside;
}

figure {
  margin: 33px 0;
}

figure figcaption {
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

img {
  margin-bottom: 10px;
  height: auto;
  display: block;
}

img, svg {
  max-width: 100%;
}

main {}

.opensource-section,
.article-section {}

.article-title {
  line-height: 1.2;
  margin-bottom: 0;
}

.article-item {
  margin-bottom: 0;
}

.article-item a {
  display: block;
  margin-bottom: 10px;
  border-bottom: none;
}

.article-content {
  padding-bottom: 6rem;
}

.opensource-lang {}

.opensource-lang h5 span {
  padding: 8px 12px;
  background-color: #606c76;
  color: #fff;
}

.opensource-item {
  padding: 20px;
}

.opensource-item h3 {
  margin: 0 0 5px 0;
}

.opensource-item p {
  margin: 0 0 10px 0;
}

@media (max-width: 720px) {
  body {
    padding: 40px 30px;
  }

  main {
    width: 100%;
  }

  p {
    margin-bottom: 1.1em;
  }
}
